  @font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype'),
      url('./assets/fonts/Roboto-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  